<h3 class="text-center">Patients List <a ui-sref="addpatient()"  ng-if="vm.list.length">Add Patient</a></h3>
<div ng-if="vm.list.length">
  <label>Enter First name to filter</label>
  <input type="text" ng-model="vm.first_name">
  <div class="row m-l-r-0">
    <h3 class='col-md-2'>First Name</h3>
    <h3 class='col-md-2'>Last Name</h3>
    <h3 class='col-md-1'>Age</h3>
    <h3 class='col-md-1'>Gender</h3>
    <h3 class='col-md-2'>Dob</h3>
    <h3 class='col-md-1'>Mobile</h3>
    <h3 class='col-md-3'>Text</h3>
  </div>
</div>
<div class="row m-l-r-0" ng-repeat="data in vm.list | customfilter : vm.first_name">
  <div class='col-md-2'>{{ data.first_name}}</div>
  <div class='col-md-2'>{{ data.last_name}}</div>
  <div class='col-md-1'>{{ data.age}}</div>
  <div class='col-md-1'>{{ data.gender}}</div>
  <div class='col-md-2'>{{ data.dob | date}}</div>
  <div class='col-md-1'>{{ data.mobile}}</div>
  <div class='col-md-3'>{{ data.text}}</div>
</div>
<div ng-if="!vm.list.length" class="text-center">
  Patients records not found <a ui-sref="addpatient()">Add Patient</a>
</div>